<!DOCTYPE html>
<html>
<head>
	<title>testY</title>
	<style type="text/css">
		div.main{
			margin:0 auto;
			width:800px;
			height:550px;
		}
	</style>
</head>
<body>
	<div class="main">
		<object type="application/x-shockwave-flash" data="http://static.youku.com/v20161201.0/v/swf/upsplayer/player_yknpsv.swf" width="100%" height="100%" id="movie_player">
			<param name="allowFullScreen" value="true">
			<param name="allowscriptaccess" value="always">
			<param name="allowFullScreenInteractive" value="true">
			<param name="wmode" value="direct">
			<param name="bgcolor" value="#fff">
			<param name="flashvars" value="<%- movie.flash%>">
			<param name="movie" value="//static.youku.com/v20161201.0/v/swf/upsplayer/player_yknpsv.swf">
			<div class="player_html5">
				<div class="picture" style="height:100%">
					<div style="line-height:460px;">
						<span style="font-size:18px">
							您还没有安装flash播放器,请点击
							<a href="//www.adobe.com/go/getflash" target="_blank">这里</a>
							安装
						</span>
					</div>
				</div>
			</div>
		</object>
	</div>
</body>
</html>